<div class="container md-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2" >
            <div class="card">
                <div class="card-body text-center">
                    <h3 class="titulo">Targeta de credito</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="titulo">Agregar targeta</h5>
                </div>
            </div>
        </div>
    </div>
</div>
